<section class="container left grid-reverse-noGutter">
  <div class="col screenshot">
    <img class="hidden-xs" src="../../assets/images/create-message-screenshot.png" alt="Sign up screenshot">
    <div class="circle"></div>
  </div>

  <div class="col-6_md-7_sm-12 left-half">
    <h2 class="mb-3 mb-lg-4">Create a message to share with your friends.</h2>
    <p class="mb-5 mb-md-4">Create your tirst message following the first steps:</p>

    <div class="card-image mb-3 ml-3 ml-lg-0">
      <img class="mr-2" src="../../assets/images/fashion-blogging-pana-left.png" alt="fashion-blogging-pana-left">
      <p>Lorem ipsum dolor sit amet consectetur. Non facilisi eu porta in enim ante pellentesque.</p>
    </div>

    <div class="card-image mb-5 ml-3 ml-lg-0">
      <img class="mr-2" src="../../assets/images/connected-world-pana-left.png" alt="connected-world-pana-left">
      <p>Eu pilvinar ultrices in quisque. Tristique erat rutrum morbi habitasse massa mi nisil. Dictum condimentum vestibilum non vitae tempor.</p>
    </div>

    <div class="btn__group hidden-xs">
      <a class="btn btn__primary" [routerLink]="['/auth/signup']">Sign up</a>
      <a class="btn btn__secondary" [routerLink]="['/auth/signin']">Log in</a>
    </div>
  </div>

</section>

<section class="container right grid pt-4">
  <div class="col screenshot">
    <img class="hidden-xs" src="../../assets/images/sign-up-screenshot.png" alt="Sign up screenshot">
    <div class="circle"></div>
  </div>

  <div class="col-6_md-7_sm-12 right-half">
    <h2 class="mb-3 mb-lg-4">Create a message to share with your friends.</h2>
    <p class="mb-5 mb-md-4">Create your first message following the first steps:</p>

    <div class="card-image mb-3">
      <img class="ml-2" src="../../assets/images/connected-world-pana-right.png" alt="connected-world-pana-right">
      <p>Lorem ipsum dolor sit amet consectetur. Non facilisi eu porta in enim ante pellentesque</p>
    </div>

    <div class="card-image mb-5">
      <img class="ml-2" src="../../assets/images/fashion-blogging-pana-right.png" alt="fashion-blogging-pana-right">
      <p>Eu pilvinar ultrices in quisque. Tristique erat rutrum morbi habitasse mi nisil. Dictum condimentum vestibilum non vitae tempor</p>
    </div>

    <div class="btn__group hidden-xs">
      <a class="btn btn__primary" [routerLink]="['/auth/signup']">Sign up</a>
      <a class="btn btn__secondary" [routerLink]="['/auth/signin']">Log in</a>
    </div>
  </div>
</section>
